
.main {
    margin-top: -5%;
}
.big {
    display: flex;
    flex-direction: row;
    min-width: 100%;
}

.lft {
    align-items: center;
    width: calc(50%);
}
.lft1 {
  margin: 130px;
  align-items: center;
  width: calc(70%);
  
}

.rgt1 {
  margin: 130px;
  align-items: center;
  width: calc(30%);
}
.rgt {
    width: calc(50%);
}

.caption {
    margin-top: 40px;
    position: absolute;
    top: 50%;
    margin-left: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}
.item {
  text-align: center;
}
.vl {
  border-left: 6px solid #212A3E;
  height: 500px;
}

.item p {
    margin:0;
    color: #394867;
    font-size: 24px;
}

.caption p {
    margin:0;
    color: #394867;
    font-size: 74px;
  }

  .caption1 {  
    margin-top: -100px; 
    margin-bottom: 30px; 
    text-align: center;
}

.caption1 p {
    margin:0;
    color: #394867;
    font-size: 34px;
  }

  h2 {
    margin:0;
    color: #394867;
  }

  .btn {
    margin: 20px;
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Georgia;
    color: #F7F7F7;
    font-size: 20px;
    background: #9BA4B5;
    padding: 14px 29px 14px 29px;
    border: solid #1f628d 0px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #394867;
    text-decoration: none;
  }

  
  .container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  
  .inputWrapper {
    margin: 10px 0;
  }
  
  .label {
    display: block;
  }
  
  .input {
    width: 100%;
  }
  
  .button {
    margin-top: 10px;
  }
  